.photo-gallery {
	padding-bottom: 40px;
}

.photo-gallery-album-inner {
	columns: 2;
	column-gap: 20px;
	column-span: all;

	a {
		height: fit-content;
		width: fit-content;
		img {
			animation: offHoverPhoto .4s ease-in-out;
		}

		&:hover {
			img {
			  transform: scale(1.05);
			  animation: onHoverPhoto .3s ease-in-out;
		  	}
		}
	}

	img {
		display: block;
		padding: 10px 0px;
	}
}

@keyframes onHoverPhoto {
	0% {transform: scale(1);}
	70% {transform: scale(1.05);}
	100% {transform: scale(1.05);}
}

@keyframes offHoverPhoto {
	0% {transform: scale(1.05);}
	70% {transform: scale(1);}
	100% {transform: scale(1);}
}

.photo-gallery-album {
	.gallery-album-link {
		color: color(text-color);
		&:visited {
			color: color(text-color);
		}
	}
}

@include media-query($on-laptop) {
	.photo-gallery-album-inner {
		columns: 1;

		img {
			width: 100%;
		}
	}
}
