---
title: Blog
layout: default
permalink: /blog/
description: Blog page of Tyler Wang. Topics included include, but aren't limited to various topics in mathematics, philosophy, and general commentary about our world.
---

{% include lang.html %}

<h1>Blog</h1>
<p>
	Here, I will occasionally post essays on topics, mostly math related, of which I'm interested in. Feel free to contact me about suggestions, or just any general comment on any of my posts.
</p>

<div class="blog-list">
  {% for post in site.posts %}
  	{% include blog_post_box.html post=post %}
  {% endfor %}
</div>
