---
layout: default
permalink: /
image:
    scale:
        - source: "assets/images/hero/hero-1080-dark.webp"
          min: "1000px"
    base: "assets/images/hero/hero-720-dark.webp"
image-alt:
    scale:
        - source: "assets/images/hero/hero-1080-light.webp"
          min: "1000px"
    base: "assets/images/hero/hero-720-light.webp"
---

{% include lang.html %}

<div class="home-introduction">
	<div class="intro-text">
		<h1> My name is <strong><em>Tyler Wang</em></strong></h1>
		<p>
			I'm currently a undergraduate student at the University of Illinois Urbana-Champaign majoring in Physics and Mathematics.
		</p>
		<div class="home-contact">
			<p> Contact me:</p>
			{% include contact_links.html %}
		</div>
		<div id="about-link" ><a href="{{site.baseurl}}/about">Learn more</a></div>
	</div>
	{% include image.html src="/assets/images/album/2020-08-00-Yellowstone/teton.jpg" alt="Grand Teton" width=480 class="home-image"%}
</div>

{% if site.posts.size > 0 %}
	<div class="home-blog">
		<h1 style="margin-bottom: 0px">Recent Posts</h1>
 	 	{% for post in site.posts  limit: 5%}
 	 		{% include blog_post_box.html post=post %}
 	 	{% endfor %}
		<p style="padding-top: 1em;"><a style="cursor: pointer" href="{{site.baseurl}}/blog">See More</a></p>
	</div>
{% endif %}

<div class="home-links">
	<h1>Miscellaneous Items</h1>
	<ul>
		<li> I'm currently working on a
			<a href="https://text.tylerwang.org/Book.pdf" target="_blank" rel="noopener noreferrer">
				book
			</a>
		 	aimed at providing high school students with a more foundational approach to mathematics.
			Since this is still a work in progress, many sections are incomplete and I would kindly ask to pardon any errors.
		</li>
	</ul>
</div>

<div class="home-gallery">
	<h1>Personal Items</h1>
	<h2>Photos</h2>
	<div class="home-photo-highlights">
		{% for photo in site.data.photo_highlights %}
			{% include image.html src=photo alt="photo highlights" width=500 class="home-image-highlights"%}
		{% endfor %}
	</div>
	<p style="padding-top: 1em;"><a style="cursor: pointer" href="{{site.baseurl}}/personal">See More</a></p>
</div>

</div>


