<div class="contact-links">
	{% if site.social.github %}
	<a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener noreferrer">
		<img src="{{ site.baseurl }}/assets/github-logo.svg" alt="github">
	</a>
	{% endif %}

	{% if site.social.instagram %}
	<a href="https://www.instagram.com/{{ site.social.instagram }}" target="_blank" rel="noopener noreferrer">
		<img src="{{ site.baseurl }}/assets/insta-logo.svg" alt="instagram">
	</a>
	{% endif %}

	{% if site.social.youtube %}
	<a href="https://www.youtube.com/{{ site.social.youtube }}" target="_blank" rel="noopener noreferrer">
		<img src="{{ site.baseurl }}/assets/youtube-logo.svg" alt="youtube">
	</a>
	{% endif %}

	{% if site.social.twitter %}
	<a href="https://www.twitter.com/{{ site.social.twitter }}" target="_blank" rel="noopener noreferrer">
		<img src="{{ site.baseurl }}/assets/x-logo.svg" alt="x">
	</a>
	{% endif %}

	{% if site.social.linkedin %}
	<a href="{{site.social.linkedin}}" target="_blank" rel="noopener noreferrer">
		<img src="{{ site.baseurl }}/assets/linkedin-logo.svg" alt="linkedin">
	</a>
	{% endif %}

	{% if site.email %}
	<a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">
		<img src="{{ site.baseurl }}/assets/mail-icon.svg" alt="mail">
	</a>
	{% endif %}
</div>
