<footer class="site-footer">
	<div class="wrapper">
		<div class="footer scroll">
			<div class="footer_col" id="footer_left">
				<h4>{{site.name}}</h4>
				<p>{{site.about}}</p>
			</div>

			<div class="footer_col", id="footer_right">
				<div class="footer_wrapper">
					{% include contact_links.html %}
					<div id="copyright">
						<p>
							&copy
							<script type="text/javascript">document.write( new Date().getFullYear() );</script>
							Tyler Wang - All rights reserved
						</p>
					<div/>
				</div>
			</div>
		</div>
	</div>
</footer>
