<!--
<script src="https://giscus.app/client.js"
        data-repo="tylerwwang/giscus"
        data-repo-id="R_kgDON_FTlw"
        data-category="Ideas"
        data-category-id="DIC_kwDON_FTl84CnTiG"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
		data-theme="gruvbox_light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
-->

<script src="https://giscus.app/client.js"
        data-repo="tylerwwang/giscus"
        data-repo-id="R_kgDON_FTlw"
        data-category="Ideas"
        data-category-id="DIC_kwDON_FTl84CnTiG"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
		data-theme="noborder_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
