<!-- Calculate the post's reading time, and display the word count in tooltip -->

{% assign words = include.content | strip_html | number_of_words: 'auto' %}

<!-- words per minute -->

{% assign wpm = 180 %}
{% assign min_time = 1 %}

{% assign read_time = words | divided_by: wpm %}

{% unless read_time > 0 %}
  {% assign read_time = min_time %}
{% endunless %}

<!-- return element -->
<div
  class="readtime"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="{{ words }} {{ site.data.locales[include.lang].post.words }}"
  style="line-height: 1.2em; text-align: right;"
>
  <div>
	  <span class="post-detail-info">
  	  	{{- read_time -}}
  	  	{{ ' ' }}
  	  	{{- site.data.locales[include.lang].post.read_time.unit -}}
  	  	{{ ' ' }}
	  </span>
  	  	{{- site.data.locales[include.lang].post.read_time.prompt -}}
  </div>
  <div style="font-size: 0.97em;">
  	{{ words }}
  	{{ ' ' }}
  	{{- site.data.locales[include.lang].post.words -}}
  </div>
</div>
