<div class="theme-toggle">
	<button onclick="themeToggleClick()">
		<img id="theme-toggle-icon" height="25px" width="25px" alt="Theme toggle">
	</button>
</div>

<script>
	var toggleIcon = document.getElementById("theme-toggle-icon");

	function themeToggleClick(){
		htmlElement.dispatchEvent(toggleTheme);

	}

	function themeToggleIconConfig() {
		if(htmlElement.getAttribute('data-theme') == 'light')
			toggleIcon.src="{{site.baseurl}}/assets/moon.svg";
		else
			toggleIcon.src="{{site.baseurl}}/assets/sun.svg";
	}

	themeToggleIconConfig();


	htmlElement.addEventListener("update-theme", (e) => {
		themeToggleIconConfig();
	});
</script>
