.hero-text {
	top: 0px;
	left: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100vh + $navbar-height);
	margin-top: -$navbar-height;

	position: relative;


	h1 {
		color: color(hero-text-color);
		font-size: clamp(0vh,90px,12vh);
		text-align: center;
		margin-bottom: 1vh;
	}
	h2 {
		color: color(hero-text-color);
		font-size: clamp(0vh,35px,5vh);
		text-align: center;

		font-weight: 400;
		font-style: italic;
	}

	.site-title {
		vertical-align: middle;
	}

	.hero-gradient {
		position: absolute;

		bottom: 0px;

		height: $navbar-height;
		width: 100%;

		background-image: linear-gradient(rgb(from color(background-color) r g b/ 0), color(background-color));
		background-image: -moz-linear-gradient(rgb(from color(background-color) r g b/ 0), color(background-color));
		background-image: -webkit-linear-gradient(rgb(from color(background-color) r g b/ 0), color(background-color));
		background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, color(background-color), color-stop(100%, color(background-color))));
		background-image: -ms-gradient(rgb(from color(background-color) r g b/ 0), color(background-color));
		background-image: -o-gradient(rgb(from color(background-color) r g b/ 0), color(background-color));
		background-image: linear-gradient(rgb(from color(background-color) r g b/ 0), color(background-color));
	}
}

.hero-image {
	float: inline-start;

	display: flex;
	justify-content: center;
	flex-direction: row;

	img {
		object-fit: cover;
		width: 100vw;
		min-height: 100vh;
	}

	width: 100vw;
	min-height: 100vh;

	mix-blend-mode: multiply;

	z-index: -2;

	position: absolute;
	bottom: 0px;
}

#hero-image-alt {
	display: none;
}
#hero-image {
}

.hero-background {
	position: sticky;

	margin-top: -100vh;

	top: 0px;
	left: 0px;

	height: 100vh;
	width: 100vw;

	background: color(hero-overlay-color);

	z-index: -2;

	overflow: hidden;
}
@include media-query($on-laptop) {
	.hero-text {
		h1 {
			font-size: clamp(0vh,75px,12vh);
		}
		h2 {
			font-size: clamp(0vh,30px,5vh);
		}
	}
}

@include media-query($on-palm) {
	.hero-text {
		h1 {
			font-size: clamp(0vh,60px,10vh);
		}
		h2 {
			font-size: clamp(0vh,25px,4vh);
		}
	}
}

@include media-orient($portrait) {
	.hero-image {
		width: 100vw;
		min-height: 90vh;
	}
	.hero-background {
		position: sticky;

		margin-top: -90vh;

		top: 0px;
		left: 0px;

		height: 90vh;
		width: 100vw;

		background: rgba(0, 0, 0,0.3);

		z-index: -2;
	}

	.hero-text {
		height: 90vh;
	}
}

#page-content-home {
  padding: $spacing-unit 0;
  flex: 1;
  background-color: color(background-color);
}

