.contact-links {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 20px 0px;

	gap: 40px;

	img {
		min-height: 40px;
		max-height: 40px;
	}
	img:hover {
		transform: scale(1.1);
	}

	@include media-query($on-finger) {
		gap: 15px;
	}
}

[data-theme="dark"] {
	.contact-links {
		img {
			filter: grayscale(100%) brightness(0%) invert(100%);
		}
	}
}

