.theme-toggle {
	position: fixed;

	display: flex;
	justify-content: center;
	align-items: center;

	left: 20px;
	bottom: 20px;

	button {
		display: flex;

		background: color(base-background-color);
		border-radius: 20px;

		filter: drop-shadow(2.5px 2.5px 2.5px color(toggle-shadow-color));

		min-height: 25px;
		min-width: 25px;

		padding: 10px;

	}

	@include media-query($on-palm) {
		left: 15px;
		bottom: 15px;
	}
}
