/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

em {
	font-weight: 200;
}
strong {
	font-weight: 500;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: color(text-color);
  background-color: color(base-background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 6);
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 25px;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
}



/**
 * Links
 */
a {
  color: color(brand-color);
  text-decoration: none;

  &:visited {
    color: color(visited-color);
  }

  &:hover {
    color: color(text-color);
    text-decoration: underline;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: color(blockquote-foreground-color);
  background: color(blockquote-background-color);
  border-left: 4px solid color(blockquote-border-color);
  padding-left: calc($spacing-unit / 2);
  letter-spacing: -1px;
  font-style: italic;

  padding: 30px 35px;
  padding-bottom: 32px;

  margin: calc($spacing-unit / 4) 0px;

  p {
  	text-indent: 0px !important;
  }

  font-size: 22px;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
	font-size: 14px;
  	border: 1px solid color(code-border-color);
  	border-radius: 5px;
  	background-color: color(code-background-color);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;

  text-align: $table-text-align;
  color: color(text-color);

  border-collapse: collapse;
  border: 1px solid color(table-border-color);

  tr {
    background-color: color(table-row-color-odd);
    &:nth-child(even) {
      background-color: color(table-row-color-even);
    }
  }
  th, td {
    padding: calc($spacing-unit / 3) calc($spacing-unit / 2);
    border: 1px solid color(table-border-color);
  }
  th {
    background-color: color(table-header-color);
  }
}

#page-content {
	padding: 10px 0px;
	padding-bottom: 10px;
}


#footnote-box {
	border-top: 1px solid;
  	border-image: linear-gradient(to right, color(text-color) 35%, transparent 35%) 100% 1;

	margin-top: 20px;
}
.footnotes {
	font-size: 0.8em;
	padding: 10px 0px;

	ol {
		margin: 20px;
	}
}

.filler {
	color: color(unem-text-color);
	weight: $base-font-weight;
}

button {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: color(text-color);
  background: none;

  cursor: pointer;
  border-width: 0px;

  padding: 0px;
  padding-block: 0px;
  padding-inline: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

