@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Crimson Pro", serif !default;
$base-font-size:   20px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

// Headings
$heading-font-weight: 500 !default;

$font-size-h1:  40px !default;
$font-size-h2:  34px !default;
$font-size-h3:  32px !default;
$font-size-h4:  28px !default;
$font-size-h5:  25px !default;
$font-size-h6:  23px !default;

$spacing-unit:     40px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$navbar-height:     60px !default;

$on-finger:        300px;
$on-palm:          600px;
$on-laptop:        800px;

$landscape:    landscape;
$portrait:      portrait;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-orient($orentation) {
  @media screen and (orientation: $orentation) {
    @content;
  }
}

[data-theme="light"] {
	--text-color:       #000;
	--unem-text-color:  #666;
	--brand-color:      #1057da;
	--visited-color:    #7c26b8;

	--background-color: 		#fffae5;
	--base-background-color:	#e3dcc4;

	--header-color:				#1b2a4c;
    --header-text-color:		#fefefe;
    --header-underline-color:	#1b2849;
	--hover-color:				#18213a;

	--code-background-color: #f4eed2;
	--code-border-color: #888;

	--blockquote-background-color: #cebc9d;
	--blockquote-foreground-color: #222;
	--blockquote-border-color: 	   #9b7763;

	--theorem-background-color: #dfe7db;
	--theorem-border-color: 	#8ba2a1;

	--table-header-color: #ccc9bb;
	--table-row-color-even: #e8e2d0;
	--table-row-color-odd: #f3eed9;
	--table-border-color: #222;

	--hero-overlay-color: #00000019;

	--toggle-shadow-color: #555;

	--highlight-color: #ffeaad;
}

[data-theme="dark"] {
	--text-color:       #fefefe;
	--unem-text-color:  #BBB;
	--brand-color:      #7fb2ff;
	--visited-color:    #bc94ff;

	--background-color: 		#1e1e1e;
	--base-background-color:	#151515;

	--header-color: 			#151515;
	--header-text-color: 		#fefefe;
	--header-underline-color: 	#aaaaaa;
	--hover-color:				#2f2f2f;

	--code-background-color: #181818;
	--code-border-color: #181818;

    --blockquote-background-color: 	#393d39;
    --blockquote-foreground-color:  #fefefe;
    --blockquote-border-color:		#849696;

    --theorem-background-color: #3d404a;
    --theorem-border-color: 	#758180;

	--table-header-color: #212121;
	--table-row-color-even: #282828;
	--table-row-color-odd: #2b2b2b;
	--table-border-color: #909090;

	--hero-overlay-color: #0000004c;

	--toggle-shadow-color: #000;

	--highlight-color: #6d6752;
}


:root {
	--hero-text-color: #fefefe;
}

@function color($color-name) {
  @return var(--#{$color-name});
}


