<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
	{%- include header.html -%}

	<div class="hero-background">
		<picture class="hero-image">
			{%- for i in (0 .. page.image.scale.size) -%}
				{% if page.image.scale.size == i %}
					{% break %}
				{% endif %}
				<source
		media="{% if page.image.scale[i].max %}(max-width: {{ page.image.scale[i].max }}){% endif %}{% if page.image.scale[i].max  and page.image.scale[i].min%} and {% endif %}{% if page.image.scale[i].min %}(min-width: {{ page.image.scale[i].min }}){% endif %}"
		srcset="{{site.baseurl}}/{{page.image.scale[i].source}}"/>

			{%- endfor -%}

			<img src="{{site.baseurl}}/{{page.image.base}}"/>
		</picture>
	</div>

	<div class="hero-text">
		<div class="site-title">
			<h1 >
				{{ site.site-title }}
			</h1>
			<h2>
				{{ site.subtitle}}
			</h2>
		</div>

		<div class="hero-gradient"></div>
	</div>

    <main id="page-content-home" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  	{%- include scripts.html -%}
  </body>
</html>
